#EXTM3U
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-TARGETDURATION:8
#EXT-X-VERSION:4
<%= for segment <- @transmission.segments do %>#EXTINF:<%= segment.duration_sec %>,
<%= segment.file_url %>
<% end %>
#EXT-X-ENDLIST